{% extends 'core/base.html' %}

{% block contenido_titulo %}
    Búsqueda de Productos
{% endblock contenido_titulo %}

{% block contenido %}
    <div class="container">
        <div class="row">
            {% for producto in producto_nombre %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.categoria }}</p>
                            
                               
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

  
{% endblock contenido %}


