{% extends 'core/base.html' %}

{% block contenido_titulo %}
    <h1 class="display-4">Acerca de Smart Market</h1>
{% endblock contenido_titulo %}

{% block contenido %}
    <p>Bienvenido a Smart Market, una plataforma creada por Mathias Mallarini para la gestión eficiente y segura de diferentes tipos de información.</p>

    <p>Smart Market te ofrece un entorno digital versátil y fácil de usar que te permite archivar y organizar datos de manera efectiva. Ya sea que estés administrando información comercial, personal o creativa, Smart Market está diseñado para adaptarse a tus necesidades.</p>

    <p>Con una interfaz intuitiva, Smart Market simplifica el proceso de archivar y acceder a tu información, brindándote una experiencia fluida y eficiente.</p>

    <p>¡Explora Smart Market y descubre cómo esta plataforma puede facilitar la organización y gestión de tu información de manera inteligente!</p>
{% endblock contenido %}