<!-- NavBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Smart Market</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:index' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:about' %}">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Info</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'producto:index' %}">Productos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'cliente:index' %}">Clientes</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Aquí se han añadido las clases para alinear a la derecha -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:registro' %}">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>